@model IEnumerable<Student_Attendance_System.Models.Dashboard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Attendance Records</h1>

<p>
    <a asp-action="Create">Add New Attendee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectCourses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <text>Attendance</text>
                @Html.DisplayNameFor(model => model.isPresent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectCourses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
            @* @Html.DisplayFor(modelItem => item.isPresent)*@

               @if(item.isPresent)
               {
                   <text>Present</text>
               }
               else
               {
                   <text>Absent</text>
               }
            </td>
                @*<td>
                    <input type="checkbox" name="attendance" id="attendance_@item.id" @(item.isPresent ? "checked" : "") onclick="updateAttendance(@item.id)" />
                </td>*@

           @* <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>


@*@section Scripts {
    <script>
        function updateAttendance(id) {
            // You can use JavaScript to handle the checkbox click event
            var checkbox = document.getElementById("attendance_" + id);
            var isChecked = checkbox.checked;

            // Send an AJAX request to update the attendance in the server-side (you need to implement this endpoint)
            // Example using jQuery:
            $.ajax({
                type: "POST",
                url: "/Attendance/UpdateAttendance",
                data: { id: id, isChecked: isChecked },
                success: function (data) {
                    // Handle success if needed
                },
                error: function () {
                    // Handle error if needed
                }
            });
        }
    </script>
}*@